.title {
    background-color: rgb(16, 98, 98);
    color: blanchedalmond;
    font-weight: bold;
    text-align: center;
    margin: 15px 20 px 20px 15px;
    padding: 15px;

}

.red{
    background-color: rgb(206, 39, 21);
    height: 100px;
    width: 100px;
}

.orange {
    background-color: rgb(232, 125, 36);
    height: 100px;
    width: 100px;
}

.yellow {
    background-color: rgb(206, 184, 21);
    height: 100px;
    width: 100px;
}

.green {
    background-color: rgb(26, 144, 11);
    height: 100px;
    width: 100px;
}

.blue {
    background-color: rgb(46, 21, 206);
    height: 100px;
    width: 100px;
}

.indigo {
    background-color: rgb(125, 15, 52);
    height: 100px;
    width: 100px;
}

.violet {
    background-color: rgb(206, 21, 200);
    height: 100px;
    width: 100px;
}

.rainbow {
display: flex;
flex-wrap: wrap
}